.container {
  width: 100vw;
}
.container header{
  height: 60px;
  background: var(--color-box-header);
  display: flex;
  justify-content: space-between;
  
}
.container img {
 width: 180px;
 
}
.container header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

}
.container header nav ul{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.container header nav ul li{
 font-size: 17px;
}
.container header nav ul li a{
  padding-right: 13px;
 text-decoration: none;
 color:var(--color-text-base);
}
.container header nav ul li a:hover{
 text-decoration: underline;

}

