.container {
  margin: 0;
  width: 100vw;
  height: 70px;
  background: var(--color-box-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.container img {
  width: 13vw;
  height: 70px;
  padding: 2px 5px;
  margin-left: 2.5rem;
}
#navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  margin-right: 2.5rem;
}
#navContainer ul {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
#navContainer ul li {
  font-size: 1.1em;
  padding: 10px;
}

#navContainer ul li a {
  transition: color 0.2s;
}
#navContainer ul li a:hover {
  color: #467238;
}
.navMobile {
  display: none;
}
@media (min-width: 300px) and (max-width: 768px) {
  .container {
    width: 100vw;
    height: 70px;
  }
  .container img {
    width: 30vw;
    height: 60px;
    padding: 1px;
    margin-left: 1rem;
  }
  #navContainer {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-9999px);
    transition: all 0.5s;
    position: absolute;
    background: var(--color-box-header);
    top: 69px;
  }
  .open {
    transform: translateX(0px) !important;
  }
  #navContainer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
  }
  #navContainer ul li {
    width: 60vw;
    font-size: 1.3em;
    padding: 30px 0px;
    text-align: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  }
  .navMobile {
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    z-index: 1;
  }
  .navMobile button {
    border: none;
    background: none;
  }
}
