.container {
  width: 100vw;
}
.container header{
  height: 60px;
  background: var(--color-box-header);
  display: flex;
  justify-content: space-between;
 
}
.container img {
 width: 180px;
 
}
.container header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

}
.container header nav ul{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.container header nav ul li{
 font-size: 15px;
}
.container header nav ul li a{
  padding-right: 30px;
 text-decoration: none;
 color:var(--color-text-base);
}
.container header nav ul li a:hover{
 text-decoration: underline;

}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}

@media (max-width: 768px){
  .container header{
    height: 50px;
    background: var(--color-box-header);
    display: flex;
    justify-content: space-between;
   
  }
  .container img {
    width: 120px;
    
   }
	
  .container header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  
  
  }
  .container header nav ul{
    position: absolute;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
	.container nav ul{
		position: fixed;
		width: 100%;
    background: var(--color-box-header);
		top: 50px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	.container nav ul li{
		display: block;
		padding: 9px 0;
		line-height: 30px;
	}
  .container	nav ul li a {
		font-size: 12px;
  }
  .checkbtn {
		display: block;
  }
	a:hover, a.active {
		background: none;
    color:var(--color-text-base);
	}
	#check:checked ~ ul {
		left: 0;
	}
}
