.footer {
  position: absolute;
  bottom: 0em;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--color-box-footer);
}
.footer footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer footer h2 {
  font-size: 1em;
}
.footer footer img {
  margin-left: 5px;
  width: 110px;
  height: 35px;
}
@media (min-width: 300px) and (max-width: 768px) {
  .footer footer {
    height: 3rem;
  }
  .footer footer h2 {
    font-size: 0.9em;
  }
  .footer footer img {
    margin-left: 2px;
    width: 100px;
    height: 40px;
  }
}
