:root {
  --color-background: #090707;
  --color-button-text: #FFFFFF;
  --color-button-background:#7E008E;
  --color-text-base: #FFFFFF;
  --color-text-base-hover: #d3c8c8;
  --color-box-header: #7E008E;
  --color-box-footer:  #7E008E;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}
a{
  text-decoration: none;
  color:var(--color-button-text);
}
body{
  background: var(--color-background);
  font: 600 14px Nunito, sans-serif;
  color:var(--color-button-text);
}